#tableOfAvailableTimes {
    margin-top: 20px;
    width: 20%;
    margin-right: auto; /* centrere table*/
    margin-left: auto; /* centrere table*/
    text-align: center;
}

#main {
    padding-top: 20px;
    text-align: center; /* centrere datovælger*/
}

.checked {
    background-color: #5d62ee;
}