.prisertext{
    position: relative; left: 100px; top: 60px;
}

.underTextPriser{
    position: relative; left: 100px; top: 60px;
}

.boxMedPriser {
    position: relative; left: 600px; top:-100px;
    width: 600px;
    height: 200px;
    border: 1px solid #ccc;
    z-index: 1;
    color: greenyellow;
}


h3{
    color: greenyellow;
    font-size: 32px;
}

.Vask{
    position: relative;left: 650px; top: -550px;
    z-index: 3;
}

.vaskPris{
    position: relative;left: 1050px; top: -595px;
    z-index: 3;

}

.Mandeklip{
    position: relative;left: 650px; top: -550px;
    z-index: 3;
}

.MandeklipPris{
    position: relative;left: 1050px; top: -595px;
    z-index: 3;
}

.Dameklip{
    position: relative;left: 650px; top: -485px;
    z-index: 3;
}

.DameklipPris{
    position: relative;left: 1050px; top: -535px;
    z-index: 3;
}

body{
    overflow-x: hidden;
    background-color: ivory;
    height: auto;
    margin: 0;
}