@font-face {
    font-family: Epil;
}
body {
    font-family: Epil, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: ivory;
}

.profile {
    display: flex;
    width: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.profile-left {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
}

.profile-middle {
    flex: 1;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-right {
    padding-left: 5px;
    margin-right: 300px;
    flex: 1;
    width: 500px;
    background-color: #f5f5f5;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.bookings {
    list-style-type: none;
    padding: 0;
}

.edit-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00063C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #a50303;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #00059C;
}

