@font-face {
    font-family: Epil;
}
body {
    font-family: Epil, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: ivory;
    margin: 0;
}

.profile {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}
.login-user {
    margin-top: 50px;
    font-family: Epil, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;

}

h1 {
    text-align: center;
}



form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

button {
    background-color: #00063C;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #00063C;
}

h1.user-list-heading {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

table {
    width: 600px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

thead {
    background-color: #f1f1f1;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tbody tr:last-child td {
    border-bottom: none;
}
